<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<!--

    * 매출원가 : 수익을 얻기 위하여 발생한 비용, 고객에게 인도한 상품의 원가
    * 매출원가 = 기초상품재고액 + 당기상품매입액 - 기말상품재고액이나 상품 금액으로 대체
    costOfGoodsSold : 상품판매가격격
    maintenanceSales : 판매비와관리비

    * 매출액 : (take)

    * 매출총이익(grossProfit) = 매출액(take) - 매출원가(costOfSales)

    * 영업이익 = 매출총이익 - 판관비
    salesIncome : 영업이익 => 매출총이익(grossProfit) - 판관비
        etcIncome : 기타수익
        etcCost : 기타비용

    * 법인세비용차감전순이익 = 영업이익(salesIncome) + 영업외이익(etcSalesIncome) - 영업외비용
        corporateTaxIncome : 법인세비용차감전순이익

    * 순이익 = 영업이익 + (금융수익 - 금융비용) + (영업 외 수익 - 영업 외 비용) - 법인세비용

    순이익 => 매출액 - 매출원가 - 판매관리비

Ⅰ. 매출액 (take): 판매가격 * 판매량, 영업활동을 통해 얻은 총 수익.   ★각 매장에서 판 가격
Ⅱ. 매출원가 (costOfSales): 화장품을 구매한 가격 (화장품 구매 원가)
Ⅲ. 매출총이익(grossProfit) :
    판매비와 관리비(maintenanceSales) : 판매비와 일반관리비는 제품, 상품 등의 판매활동과 기업의 관리활동에서 발생하는 비용으로서,
                                        매출원가에 속하지 아니하는 모든 영업비용을 포함한다. 예로는 급여, 복리후생비, 광고비, 접대비 등이 있다
----------------------------------------------------------------------------------------------------------------------------------
Ⅳ. 영업이익(salesIncome)
    기타수익(otherIncome) : 임차료, 잡이익, 외환차익(비금융), 환산이익(비금융) 등등
            영업활동과 직접적인 관련이 없이 발생하는 이익과 손실항목입니다. 이자비용/수익, 외화환산 관련 손익, 회사가 가지고 있는 자산,부채 등에 대한 평가 손익
    기타비용(otherExpenses) :  기부금, 잡손실 등등
----------------------------------------------------------------------------------------------------------------------------------
    금융수익(financialIncome) : 일회적 성격이 강한 이익으로, 영업외 손익입니다. 외환거래로 인한 외환차익, 파생상품거래로 인한 이익을 말합니다.
    금융비용(FinancialExpenses) : 기업이 사업을 목적으로 은행 등. 금융기관 및 개인으로부터 조달한 차입금에 대해 지급하는 이자 부담을 비용 개념으로 파악하는 것.
                                따라서, 금융기관으로부터의 대출과 이에따른 이자지급은 물론 사채이자도 포함된다.
Ⅴ. 세전이익(preTaxProfit) : 일명 법인세 차감 전 순이익이라고 말하며, /이자수입/주식배당금/임대료/유가증권처분 이익 등을 일컫어,
                                                               경상이익에서 특별이익을 더하고 특별손실을 빼면, 세전 이익이라함.
----------------------------------------------------------------------------------------------------------------------------------
    법인세비용(incomeTaxExpense) : 회계기간에 납부해야할 법인세액을 말한다. 기중에 법인세 중간예납액과
                                이자수익의 원천징수 금액을 차변에 선납세금으로 회계처리하는데, 기말에는 빕인세비용으로 대체한다.
----------------------------------------------------------------------------------------------------------------------------------
= 순이익(netIncome) :

-->

head>
    <meta charset="UTF-8">
    <title>엑셀 업로드</title>
</head>

<body>
<form th:action="@{/excel/read}" method="POST" enctype="multipart/form-data">
    <input type="file" th:name="file">
    <input th:type="submit" value="제출" />
</form>
</body>
</html>






