<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head">

</head>


<div th:fragment="side-bar" class="col-md-3 left_col">
    <div class="left_col scroll-view">
        <div class="navbar nav_title" style="">
            <a href="/" class="site_title"><i class="fa fa-moon-o"></i> <span> All In One</span></a>
        </div>

        <div class="clearfix"></div>

        <br />
        <!-- sidebar menu -->
        <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
            <div class="menu_section">
                <ul class="nav side-menu">
                    <li><a><i class="fa fa-home"></i> 내 인사 정보 <span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li><a href="/mypage">인사 정보</a></li>
                            <li><a href="/mypage/myCalendar">내 근태관리</a></li>
                        </ul>
                    </li>
                    <li><a><i class="fa fa-edit"></i> 인사관리 <span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li><a href="/hr">인사관리</a></li>
                        </ul>
                    </li>
                    <li><a><i class="fa fa-desktop"></i> 제품관리 <span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li><a href="/yeonji/corpList">메뉴1</a></li>
                            <li><a href="#">발주관리</a></li>
                        </ul>
                    </li>
                    <li><a><i class="fa fa-table"></i> 영업관리 <span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li><a href="#">메뉴1</a></li>

                        </ul>
                    </li>
                    <li><a><i class="fa fa-bar-chart-o"></i> 물류관리 <span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li><a href="#">입고관리</a></li>
                            <li><a href="#">출고관리</a></li>
                            <li><a href="#">재고관리</a></li>
                        </ul>
                    </li>
                    <li><a><i class="fa fa-clone"></i> 회계관리 <span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li><a href="/finance/purchaseSalesTradingRegister">전표등록</a></li>
                            <li><a href="/finance/outstandingAuthorization">결제승인대기</a></li>
                            <li><a href="/finance/statementManagement/list">전표관리</a></li>
                            <li><a href="/finance/incomeStatement">손익계산서</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <!-- /sidebar menu -->
    </div>
</div>

<div th:fragment="top-nav" class="top_nav">
    <div class="nav_menu">
        <nav>
            <div class="nav toggle">
                <a id="menu_toggle"><i class="fa fa-bars"></i></a>
            </div>

            <ul class="nav navbar-nav navbar-right">
                <li class="">
                    <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="cus-dropdown" aria-expanded="false">
                        <img th:if="${#strings.isEmpty(empl?.photo)}" src="/images/default-image.png" alt=""><span th:if="${!#strings.isEmpty(empl?.name)}" th:text="${empl.name}"></span>
                        <img th:if="${!#strings.isEmpty(empl?.photo)}" th:src="${empl.photo}" alt=""><span th:if="${!#strings.isEmpty(empl?.name)}" th:text="${empl.name}"></span>
                        <span class=" fa fa-angle-down"></span>
                    </a>
                    <ul class="dropdown-menu dropdown-usermenu pull-right">
                        <li><a href="/mypage"> 내 인사 정보 </a></li>
                        <li><a href="/searchCorwork"> 사원 검색하기 </a></li>
                        <li>
                            <a>
                                <form class="" action="/logout" method="post">
                                    <button type="submit" style="border: none; background: none;">
                                        <i class="fa fa-sign-out pull-right"></i> 로그아웃
                                    </button>
                                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                                </form>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</div>


<footer th:fragment="footer">
    <div class="pull-right">
        Olive Brother - AIO &nbsp;&nbsp; 정민, 예솔, 연지, 연섭, 민종
    </div>
    <div class="clearfix"></div>
</footer>

</html>